body {
  background: #EEE;
  font-family: helvetica;
  color: #111;
  line-height: 1.0; }

span {
  padding: 20px; }

.heading-description,
.task-description {
  width: 20%; }

.heading-title,
.heading-createdBy,
.heading-assignedTo,
.heading-status,
.task-title,
.task-createdBy,
.task-assignedTo,
.task-status {
  width: 10%; }
