@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section headscript
{
    <script src="~/public/js/libs/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>
    <script src="~/public/js/users.js" type="text/javascript"></script>
}

<div id="error" class="validation-summary-errors"></div>

<div class="create-task-wrapper">
    <h2 class="title">Add User</h2>
    <form class="input-area" action="" data-bind="submit: addUser">
        <div class="labels labels--input">
            <span class="task-title">First Name</span>
            <span class="task-title">Last Name</span>
        </div>

        <div class="task-inputs">
            <input type="text" class="task-title-input" data-bind="value: firstName">
            <input type="text" class="task-title-input" data-bind="value: lastName">
            <input type="submit" class="task-submit" value="Add User">
        </div>
    </form>
</div>

<div class="list-task-wrapper" data-bind="visible: users().length > 0">
    <h2 class="title">User list</h2>

    <br />
    You have <b data-bind="text: activeUsers().length">&nbsp;</b> inactive user(s)

    <div class="labels labels--input">
        <span class="task-title">Active</span>
        <span class="task-title">First Name</span>
        <span class="task-title">Last Name</span>
    </div>

    <div class="task-list-area">
        <ul class="task-list">
            <!-- ko foreach: users -->
            <li class="task-element">
                <input type="checkbox" id="cb1" class="task-title-input" data-bind="checked: active" />
                <label class="task-title-checkbox_label" for="cb1"></label>
                <input type="text" class="task-title-input" data-bind="value: firstName">
                <input type="text" class="task-title-input" data-bind="value: lastName">
                <input class="task-remove" type="button" href="#" data-bind="click: remove" value="X" />
            </li>
            <!-- /ko -->
        </ul>

    </div>
</div>
