@mixin widthcolumn($tCol, $nCol) {
    width: calc( (100% / #{$tCol})* #{$nCol} );
}

body {
    background: #F5F5F5;
    font-family: helvetica;
    color: #111;
    line-height: 1.0;
    margin: 0;
}

* {
    list-style: none;
    box-sizing: border-box;
}

span {
    padding: 20px 0;
}

.title1 {
    padding: 40px 20px;
    margin: 0 0 20px;
    background-image: linear-gradient(141deg, #13bfdf 0%, #42afe3 71%, #53a1eb 100%);
    color: #fff;
    font-weight: 100;
}

.title {
    margin-bottom: 0;
    color: #555;
    font-weight: 100;
    padding-bottom: 8px;
    border-bottom: 1px solid #ddd;
    display: inline-block;
}

.create-task-wrapper,
.list-task-wrapper {
    padding: 20px;
    float: left;
    width: 100%;
}

.task-inputs {
    & * {
        font-size: 16px;
    }
}
.task-list {
    & * {
        font-size: 16px;
    }
}

.task-title,
.task-title-input {
    @include widthcolumn(12, 2);
}
.task-description,
.task-description-input {
    @include widthcolumn(12, 4)
}
.task-author,
.task-author-input,
.task-asignee,
.task-asignee-input {
    @include widthcolumn(12, 2);
}
.task-status,
.task-status-input {
    @include widthcolumn(12, 1);
}

.task-title,
.task-author,
.task-asignee,
.task-status,
.task-description,
.task-title-input,
.task-description-input,
.task-author-input,
.task-asignee-input,
.task-status-input,
.task-submit,
.task-remove {
    display: inline-block;
    padding: 5px 10px;
    color: #555;
    font-weight: 100;
    vertical-align: middle;
}

.task-title,
.task-author,
.task-asignee,
.task-status,
.task-description {
    padding: 5px 0;
}

.task-author-input,
.task-asignee-input,
.task-status-input {
    -webkit-appearance: none;
    border-radius: 0;
    padding: 6px 10px;
    border: 1px solid #d3d6db;
    color: #777;
    cursor: pointer;
}

.task-submit {
    border: 1px solid #42afe3;
    background-color: #42afe3;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
}

.task-remove {
    background-color: #ed6c63;
    border: 1px solid #ed6c63;
    color: #fff;
    padding: 6px 10px;
    cursor: pointer;
}

.task-list {
    padding-left: 0;
    margin: 0;

    .task-element {
        padding: 10px 0;

        &:first-child {
            padding-top: 0;
        }
    }
}

.labels {
    padding: 20px 0;
}

.tabs {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;

    .tabs-routes {
        padding-left: 20px;
        margin: 0;
        float: left;
        margin-bottom: -1px;

        .tab-element {
            float: left;
            width: auto;
            border: 1px solid #ddd;
            background-color: #ddd;
            margin-right: 10px;
            font-weight: 100;

            a {
                padding: 20px 30px;
                float: left;
                color: #BBB;
                text-decoration: none;
            }

            &.active {
                border-bottom: 1px solid #F5F5F5;

                a {
                    background-color: #F5F5F5;
                    color: #555;
                }

                &:hover {
                    cursor: default;
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.summary {
    width: 100%;
    float: left;
    padding: 20px 0;

    .summary-text {
        color: #555;
        font-weight: 100;
        padding: 0;

        .summary-number {
            font-weight: 400;
        }
    }
}

.task-title-checkbox {
    display: none;

    &:checked {
        & + label {
            &:before {
                background-color: #42afe3;
            }
        }
    }
}

.task-title-checkbox_label {
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    display: block;
    float: left;
    background-color: #fff;
    margin-right: 34px;
    position: relative;

    &:before {
        position: absolute;
        left: 5px;
        top: 5px;
        content: '';
        width: 20px;
        height: 20px;
    }
}
