<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../css/main.css">
	</head>
	<body>
		<div class="todo-wrapper">
			<h1 class="title1">To Do App Pictet</h1>

			<div class="tabs">
				<ul class="tabs-routes">
					<li class="tab-element active">
						<a href="">Tasks</a></li>
					<li class="tab-element">
						<a href="">Users</a>
					</li>
				</ul>
			</div>


			<div class="create-task-wrapper">
				<h2 class="title">Add Task</h2>
				<form class="input-area" action="">
					<div class="labels labels--input">
						<span class="task-title">Title</span>
						<span class="task-description">Description</span>
						<span class="task-author">Created By</span>
						<span class="task-asignee">Asignee</span>
						<span class="task-status">Status</span>
					</div>

					<div class="task-inputs">
						<input type="text" class="task-title-input">
						<input type="text" class="task-description-input">
						<select name="" id="" class="task-author-input">
							<option value="uno">Uno</option>
							<option value="dos">Dos</option>
							<option value="tres">Tres</option>
						</select>
						<select name="" id="" class="task-asignee-input">
							<option value="uno">Uno</option>
							<option value="dos">Dos</option>
							<option value="tres">Tres</option>
						</select>
						<select name="" id="" class="task-status-input">
							<option value="uno">To Do</option>
							<option value="dos">In Progress</option>
							<option value="tres">Done</option>
						</select>
						<input type="submit" class="task-submit">
					</div>
				</form>
			</div>

			<div class="list-task-wrapper">
				<h2 class="title">Task list</h2>

				<div class="summary">
					<span class="summary-text">You have <span class="summary-number">20</span> incomplete tasks</span>
				</div>

				<div class="labels labels--input">
					<span class="task-title">Title</span>
					<span class="task-description">Description</span>
					<span class="task-author">Created By</span>
					<span class="task-asignee">Asignee</span>
					<span class="task-status">Status</span>
				</div>

				<div class="task-list-area">
					<ul class="task-list">
						<li class="task-element">
							<input type="text" class="task-title-input">
							<input type="text" class="task-description-input">
							<select name="" id="" class="task-author-input">
								<option value="uno">Uno</option>
								<option value="dos">Dos</option>
								<option value="tres">Tres</option>
							</select>
							<select name="" id="" class="task-asignee-input">
								<option value="uno">Uno</option>
								<option value="dos">Dos</option>
								<option value="tres">Tres</option>
							</select>
							<select name="" id="" class="task-status-input">
								<option value="uno">To Do</option>
								<option value="dos">In Progress</option>
								<option value="tres">Done</option>
							</select>
							<input type="button" class="task-remove" value="x">
						</li>
						<li class="task-element">
							<input type="text" class="task-title-input">
							<input type="text" class="task-description-input">
							<select name="" id="" class="task-author-input">
								<option value="uno">Uno</option>
								<option value="dos">Dos</option>
								<option value="tres">Tres</option>
							</select>
							<select name="" id="" class="task-asignee-input">
								<option value="uno">Uno</option>
								<option value="dos">Dos</option>
								<option value="tres">Tres</option>
							</select>
							<select name="" id="" class="task-status-input">
								<option value="uno">To Do</option>
								<option value="dos">In Progress</option>
								<option value="tres">Done</option>
							</select>
							<input type="button" class="task-remove" value="x">
						</li>
						<li class="task-element">
							<input type="text" class="task-title-input">
							<input type="text" class="task-description-input">
							<select name="" id="" class="task-author-input">
								<option value="uno">Uno</option>
								<option value="dos">Dos</option>
								<option value="tres">Tres</option>
							</select>
							<select name="" id="" class="task-asignee-input">
								<option value="uno">Uno</option>
								<option value="dos">Dos</option>
								<option value="tres">Tres</option>
							</select>
							<select name="" id="" class="task-status-input">
								<option value="uno">To Do</option>
								<option value="dos">In Progress</option>
								<option value="tres">Done</option>
							</select>
							<input type="button" class="task-remove" value="x">
						</li>

						<li class="task-element">
							<input type="checkbox" id="checkbox1" class="task-title-checkbox">
							<label class="task-title-checkbox_label" for="checkbox1"></label>
							<input type="text" class="task-description-input">
							<select name="" id="" class="task-author-input">
								<option value="uno">Uno</option>
								<option value="dos">Dos</option>
								<option value="tres">Tres</option>
							</select>
							<select name="" id="" class="task-asignee-input">
								<option value="uno">Uno</option>
								<option value="dos">Dos</option>
								<option value="tres">Tres</option>
							</select>
							<select name="" id="" class="task-status-input">
								<option value="uno">To Do</option>
								<option value="dos">In Progress</option>
								<option value="tres">Done</option>
							</select>
							<input type="button" class="task-remove" value="x">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
